 <footer>
  
      <p>&copy; Copyright Jackson Wyndow | 2013 - {{ $.Site.LastChange.Year }} . Made in the Southern Hemisphere.</p> <p> Stalk me on <a href="https://twitter.com/ManOTheClassics">Twitter</a>, <a href="https://instagram.com/manotheclassics/">Instagram</a>, and <a href="https://www.pinterest.com/jacksonwyndow/">Pinterest</a>.</p>
                <p>Published with <a href="https://middlemanapp.com/">Middleman</a> and hosted with <a href="https://heroku.com/">Heroku</a>.
        </p>
  
    </footer>