<head>
  <title>{{ .Title }} - Valiant Ghost</title>
    
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <meta name="author" content="Jackson Wyndow">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta content="A weblog authored by Jackson Wyndow. Because he's a nerd, obviously." name="description">
  
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <!-- Just some of my stuff, go about your buisness -->
    <!-- 3rd of Febuary 2015. To Monty Oum, rest in piece you brilliant Bastard. -->
    <meta content="GNU Terry Pratchett" http-equiv="X-Clacks-Overhead"> 
    <!-- w3c VALIDATOR YOU PIECE OF #!@% THIS IS TOTALLY VALID!
 -->
    <!--
         .==.        .==.
        //`^\\      //^`\\
       // ^ ^\(\__/)/^ ^^\\
      //^ ^^ ^/6  6\ ^^ ^ \\
     //^ ^^ ^/( .. )\^ ^ ^ \\
    // ^^ ^/\| v""v |/\^ ^ ^\\
   // ^^/\/ /  `~~`  \ \/\^ ^\\
   =============================  

    HERE BE DRAGONS
   <!-- Stuff ends -->
  <link href="/css/screen.css" rel=stylesheet />
  <link href="/css/prism.css" rel=stylesheet />
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/sidebar.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript" src="/js/prism.js"></script>
  <script type="text/javascript">
      $.bigfoot();
  </script>

</head>