 <button class="asidetoggle">Navigation</button> 
  <!-- Sidebar -->
  <aside>
<ul>
                <a href="/" title="Chapter 1: The Front Page">
                <h6>Home</h6></a>
            </ul>

            <ul>
                <a href="/adjunct" title=
                "Chapter 2: About this site + Contact">
                <h6>Adjunct</h6></a>
            </ul>

            <ul>
                <a href="/projects" title=
                "Chapter 6: The works of the great Alchemist">
                <h6>Projects</h6></a>
            </ul>

            <ul>
                <a href="/archives" title=
                "Chapter 3: Archives of all posts on Valiant Ghost">
                <h6>Archive</h6></a>
            </ul>
      
            <ul>
                <a href="/now" title=
                "Read what the man behind this website is doing">
                <h6>Now</h6></a>
            </ul>
      
            <ul>
                <a href="/best" title=
                "The stuff I've written which I think is my best">
                <h6>The Best</h6></a>
            </ul>
    
            <ul>
                <a href="/search" title=
                "Search some stuff">
                <h6>Search</h6></a>
            </ul>
    
            <ul>
                <a href="/feed/" title="Chapter 4: RSS for Valiant Ghost">
                <h6>RSS</h6></a>
            </ul>
      
            <ul>
                <a href="https://www.instagram.com/manotheclassics/" title="All the photos I've taken (and put on Flickr)">
                <h6>Photography</h6></a>
            </ul>

            <ul>
                <a href="https://twitter.com/ValiantGhostCom" title=
                "Chapter 5: To the magical land of Twitter.">
                <h6>Twitter</h6></a>
            </ul>
</aside>