 // IMPORTED FONTS!!! OOOH SHINYYY

@import "http://fonts.googleapis.com/css?family=Raleway:300";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro";
@import "http://fonts.googleapis.com/css?family=Roboto+Slab";
@import "http://fonts.googleapis.com/css?family=Roboto";

$black: #030303;
$white: #f9f9f9;
$sig: #33495f;
$code: #222823;

$sig-tinted: mix($white, $sig, 40%);
$quote: mix($black, $white, 5%);

html{
   	height: 100%;
}

body{
    background-color: $white;
}

article {
  font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 200;
  background-color: $white;
  color: $black;
}

// While some of you may see h1 to h6 tags as simply ways to resize elements, I see them as opportunities. Ways to style, ways to resize, ways to refine beyond what you see. Those of you who don't specialize your h1-h6 tags are missing out

// Header image
h2 {
  color: #f7f6ee;
  font-family: 'Raleway', 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h2 a{
  text-decoration: none;
}

h3 a{
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $sig!important;
  text-decoration: none;
  border-bottom: $sig solid 1px;
}

h3 a:linked {
   font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $black!important;
  text-decoration: none;
}

h4{
  font-family:  'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 40pt;
}
// Header tagline
h5 {
  color: #c0c0c0;
  font-family: 'Raleway', 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h5 a{
  text-decoration: none;
}

#site-header {
  width: 100%;
  //padding: 75px 10px 10px;
  text-align: center;
  background-color: $sig;
  //margin: -49px auto 0px auto !important;
  height: 120px;
  border-top: 12px $code solid;
}

#site-header h2{
  text-decoration: none
}

#site-header h5{
  text-decoration: none;
}

#site-header h6{
  color: $white;
}

// Dates
small {
  color: #4d4d4d;
  font-family: "Roboto Slab", Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
  font-size: 16px;
}

small a{
  color: $sig;
  text-decoration: none;
  border-bottom: $sig solid 0px;
  
}



a {
  color: $sig;
  border-bottom: $sig dotted 1px;
  transition: color 0.3s ease;
}

a:hover {
  font-size: 1em;
  color: $sig-tinted;
  transition: color 0.3s ease;

}

pre{
  font-size: 12px;
}

// Taken from: https://css-tricks.com/snippets/css/style-links-depending-on-destination/
a[href^="/"], a[href^=".."] {
  font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $black!important;
  text-decoration: none;
  border-bottom: $sig dotted 0px;
}

small a[href^="/"], a[href^=".."] {
  font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $sig!important;
  text-decoration: none;
  border-bottom: $sig dotted 0px;
}

a[href="http://valiantghost.com"] {
  font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $black!important;
  text-decoration: none;
  border-bottom: $sig dotted 0px;
        
}
a[href="http://localhost:4567/"] {
  font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $black!important;
  text-decoration: none;
  border-bottom: $sig dotted 0px;
        
}
hr {
  color: $code;
}

::selection {
  background: $code;
  color: $white;
}

li{
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
li a{
  text-decoration: none;
  border-bottom: $sig dotted 0px;
}

blockquote {
  background: transparent;
  font-style: italic;
font-family: 'Roboto Slab', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; 
  font-weight: 300;
  color: $quote;
  border-left: 0px solid $black; // To add border to the line, make the 0px bigger
  margin: 1.5em 10px;
  padding: 0.5em 5px;
}

blockquote p {
  display: inline;
}

// Responsive video frames taken from: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

svg{
  position: center;
}

.footer {
  background-color: $code;
  color: $white;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  border-bottom: 15px $sig solid;
  p {
    &.footer {
      color: $white;
      font-size: 12px;
    }
  }
  a{
    border-bottom: $white dotted 1px;
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: $black;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

.footer a{
  color: $white;
  border-bottom: $white soild 1px;
}
/*the form*/
#search
{
    font-family: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	width: 100%;
	max-width: 250px;
	margin: 0px auto 0;
	margin-left: -1px;
}

.tags{
  border-top: 1px solid $black;
  padding: 15px 12px;
}

.tags a{
  font-family: "Roboto Slab", Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
  font-size: 17px;
  color: $sig;
  border-bottom: $sig dotted 1px;
}