/* IMPORTED FONTS!!! OOOH SHINYYY */

@import "http://fonts.googleapis.com/css?family=Raleway:200"
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro"
@import "http://fonts.googleapis.com/css?family=Inconsolata"
@import "http://fonts.googleapis.com/css?family=Source+Code+Pro"

$black = #030303
$white = #f9f9f9
$sig = #33495f
$code = #272822

body 
    font-family 'Source Sans Pro', Georgia, Utopia, Palatino, 'Palatino Linotype', serif
    font-size 15px
    background-color $black
    color $white

/* While some of you may see h1 to h6 tags as simply ways to resize elements, I see them as opportunities. Ways to style, ways to resize, ways to refine beyond what you see. Those of you who don't specialize your h1-h6 tags are missing out */
h1 
    color $black

h2  
    color $white
    font-family 'Raleway', Georgia, Utopia, Palatino, 'Palatino Linotype', serif

h4 
    color #4d4d4d
    font-family Georgia, Utopia, Palatino, 'Palatino Linotype', serif
    font-size 16px

h5  
    color #C0C0C0 
    font-family 'Raleway', sans-serif

small
  color #4d4d4d
  font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
  font-size 15px

blockquote 
    background transparent
    font sans-serif
    color darkslategray 
    border-left 0px solid #000
    margin 1.5em 10px 
    padding 0.5em 5px     

blockquote p 
    display inline 

a 
    color #33495f 
    text-decoration dotted 
    transition color 0.3s ease 

a:hover  
    font-size 1em 
    color #33495f 
    background-color highlight
    transition color 0.3s ease

hr
    color black

#site-header 
    width 100%
    padding 50px 10px 10px
    text-align center
    background-color $sig 
    margin -49px auto 0px auto !important

pre  
    display block 
    padding 0.5em
    background-color #272822 
    color $white
    border 10px solid
    border-top-left-radius 1em 
    border-top-right-radius 1em 
    border-bottom-right-radius 1em 
    border-bottom-left-radius 1em
    font-family "Inconsolata", "Source Code Pro"
