/* IMPORTED FONTS!!! OOOH SHINYYY */
@import url(http://fonts.googleapis.com/css?family=Raleway:200)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro)
@import url(http://fonts.googleapis.com/css?family=Inconsolata)
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro)


body
    font-family "Comic Sans MS" cursive sans-serif
    background-color #ffff00
    color #990099
    font-size 12px

#site-header 
  width 100%
  padding 50px 10px 10px
  text-align center
  background-color #ff6600
  margin -49px auto 0px auto !important
  
h1
    font-size 22
    font-family Impact, Charcoal, sans-serif
    
    
    
